body {
  background: #eee;
  font-family: sans-serif;
}

.card {
  width: 400px;
  background: #fff;
  margin: 16px auto;
}

.title,
.content,
.button-container {
	background-color: #e3f4ff;
	padding: 8px;
	margin: 8px;
}

button {
  background: white;
  border: 1px solid #eee;
}
